<div class="filter-dropdown__wrapper text-center collection-filters">
  <div class="grid__item grid-product medium--one-half large--one-half filter-dropdown">
    <label class="filter-dropdown__label" for="sortBy">
      <span class="filter-dropdown__label--title">{{ 'collections.sorting.title' | t }}</span>
      <span class="filter-dropdown__label--active"></span>
    </label>
    {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
    <select name="sortBy" id="sortBy" class="filter-dropdown__select">
      <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
      <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
      <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
      <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
      <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
      <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
      <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
      <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
    </select>
  </div>

  <div class="grid__item grid-product medium--one-half large--one-half  filter">
      <label class="filter-dropdown__label" for="sortBy">
        <span class="filter-dropdown__label--title">Browse by tag:</span>
        <span class="filter-dropdown__label--active"></span>
      </label>
      {% comment %} Custom for ARIPerformance, can extend as we need {% endcomment %}
      <select class="coll-filter">
        <option value="">All</option>
          {% if current_tags contains "brake-pads" %}
            <option value="brakes-pads" selected>brakes &amp; pads</option>
          {% else %}
            <option value="brakes-pads">brakes &amp; pads</option>
          {% endif %}

          {% if current_tags contains "engine"  %}
            <option value="engine" selected>brakes &amp; pads</option>
          {% else %}
            <option value="engine">engine</option>
          {% endif %}

          {% if current_tags contains "exhausts" %}
            <option value="exhausts" selected>exhausts</option>
          {% else %}
            <option value="exhausts">exhausts</option>
          {% endif %}

          {% if current_tags contains "exterior"  %}
            <option value="exterior" selected>exterior</option>
          {% else %}
            <option value="exterior">exterior</option>
          {% endif %}

          {% if current_tags contains "interior" %}
            <option value="interior" selected>interior</option>
          {% else %}
            <option value="interior">interior</option>
          {% endif %}

          {% if current_tags contains "suspension" %}
            <option value="suspension" selected>suspension</option>
          {% else %}
            <option value="suspension">suspension</option>
          {% endif %}

          {% if current_tags contains "wheels" %}
            <option value="wheels" selected>wheels</option>
          {% else %}
            <option value="wheels">wheels</option>
          {% endif %}
        
      </select>

      {% comment: this is the original filter which shows absolutely everything, which i think is too much %}
      <select class="coll-filter">
        <option value="">All</option>
        {% for tag in collection.all_tags %}
        {% if current_tags contains tag %}
        <option value="{{ tag | handle }}" selected>{{ tag }}</option>
        {% else %}
        <option value="{{ tag | handle }}">{{ tag }}</option>
        {% endif %}
        {% endfor %}
      </select>
      {% endcomment %}
    </div>
</div>
